<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
        <div class="col-8 offset-2">
        <h3>Edit your list</h3>
        <form method="post" action="/listings/<%=list._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" value="<%=list.title%>" type="text" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a title.
                </div>
            </div>
            
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" type="text" class="form-control" required><%=list.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a description.
                </div>
            </div>
            <div class="mb-3">
                Original Image <br>
                <img src="<%=originalImageUrl%>" height="100px" width="150px"/>  
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Upload New Image</label>
                <input name="listing[image]" type="file" class="form-control">
            </div>
            
            <div class="row">

                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" value="<%=list.price%>" type="number" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please choose a valid price.
                    </div>
                </div>

                <div class="mb-3  col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" value="<%=list.country%>" type="text" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please choose a country.
                    </div>
                </div>
            </div>    

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" value="<%=list.location%>" type="text" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a valid location.
                </div>
                
            </div>

            <button class="btn btn-dark ed-btn edit-btn mt-3">Edit</button>
        </form>
    </div>

</div>  

<br><br>
